body{
  margin: auto;
}

.pie {
  transform: rotateX(45deg);
  position: relative;
  top: calc(50% - 190px);
}

.cc:hover{
  /*filter:invert(1);*/
  filter: drop-shadow(2);
  filter: sepia(1);
}

div{
  transition: all 0.2s linear;
}

span {
  transform: rotateX(0deg);
}

#slice_1{
  position: absolute;
  left: 0px;
  top: 0px;
}

#slice_2{
  position: absolute;
  left: 0px;
  top: 0px;
}
#slice_3{
  position: absolute;
  left: 0px;
  top: 0px;
}
#slice_4{
  position: absolute;
  left: 0px;
  top: 0px;
}

.slice_hover {
  top: -30px !important;
}
.Policy__Evaluation_ {
  background-color: rgb(0, 102, 51);
  border-top-left-radius: 500px;
  position: absolute;
  left: 59px;
  top: 62px;
  width: 193px;
  height: 188px;
  z-index: 2;
  border: 1px solid black;
}
.Policy {
  background-color: rgb(37, 125, 81);
  border-top-right-radius: 500px;
  position: absolute;
  left: 251px;
  top: 62px;
  width: 190px;
  height: 188px;
  z-index: 2;
  border: 1px solid black;
}

.Policy__Action {
  background-color: rgb(0, 102, 51);
  position: absolute;
  left: 251px;
  top: 250px;
  width: 190px;
  height: 188px;
  z-index: 2;
  border: 1px solid black;
  border-bottom-right-radius:500px;
}

.Policy_Implementation_Evaluation {
  background-color: rgb(37, 125, 81);
  position: absolute;
  left: 59px;
  top: 250px;
  width: 193px;
  height: 188px;
  z-index: 2;
  border-bottom-left-radius: 500px;
  border: 1px solid black;
}

.child{
  transition: all 0.2s linear;
}

/*
 * Shadow of slices which provide 3D effect
 */ 

#slice_1 .shadow {
  position: absolute;
  background : rgb(0, 102, 51, 0.7);
  width: 240px;
  height: 270px;
  top: 12px;
  left: 12px;
  border-top-left-radius : 500px;
}

#slice_2 .shadow {
  position: absolute;
  background : rgb(37, 125, 81, 0.7);
  width: 240px; 
  height: 270px;
  top: 12px;
  left: 250px;
  border-top-right-radius : 500px;
}

#slice_3 .shadow {
  position: absolute;
  background : rgb(0, 102, 51, 0.7);
  width: 240px; 
  height: 280px;
  top: 250px;
  left: 250px;
  border-bottom-right-radius : 500px;
}

#slice_4 .shadow {
  position: absolute;
  background : rgb(37, 125, 81, 0.7);
  width: 239px; 
  height: 280px;
  top: 250px;
  left: 11px;
  border-bottom-left-radius : 500px;
}

#shadow_top_hover {
  top: 48px !important ;
}

#shadow_bottom_hover {
  top: 280px !important;
}

._01 {
  background-image: url("img/1s.png");
  position: absolute;
  left: 13px;
  top: 81px;
  width: 238px;
  height: 169px;
  z-index: 1;
}
._02 {
  background-image: url("img/2s.png");
  position: absolute;
  left: 82px;
  top: 12px;
  width: 169px;
  height: 238px;
  z-index: 1;
}
._03 {
  background-image: url("img/3s.png");
  position: absolute;
  left: 251px;
  top: 12px;
  width: 92px;
  height: 239px;
  z-index: 1;
}
._04 {
  background-image: url("img/4s.png");
  position: absolute;
  left: 251px;
  top: 30px;
  width: 169px;
  height: 221px;
  z-index: 1;
}
._05 {
  background-image: url("img/5s.png");
  position: absolute;
  left: 251px;
  top: 81px;
  width: 220px;
  height: 169px;
  z-index: 1;
}
._06 {
  background-image: url("img/6s.png");
  position: absolute;
  left: 251px;
  top: 158px;
  width: 238px;
  height: 92px;
  z-index: 1;
}
._07 {
  background-image: url("img/7s.png");
  position: absolute;
  left: 251px;
  top: 250px;
  width: 238px;
  height: 169px;
  z-index: 1;
}
._08 {
  background-image: url("img/8s.png");
  position: absolute;
  left: 251px;
  top: 250px;
  width: 168px;
  height: 238px;
  z-index: 1;
}
._09 {
  background-image: url("img/9s.png");
  position: absolute;
  left: 131px;
  top: 250px;
  width: 120px;
  height: 238px;
  z-index: 1;
}
._10 {
  background-image: url("img/10s.png");
  position: absolute;
  left: 44px;
  top: 251px;
  width: 207px;
  height: 206px;
  z-index: 1;
}
._11 {
  background-image: url("img/11s.png");
  position: absolute;
  left: 13px;
  top: 250px;
  width: 238px;
  height: 120px;
  z-index: 1;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid rgb(0, 102, 51);
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
  filter: opacity(90%);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 102, 51);
}

.modal-header .title {
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:rgb(0, 102, 51);
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  color:rgb(0, 102, 51);
}

.modal-body {
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(0, 102, 51);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
